<div class="">
    <footer class="txtcenter2">
        <p style="color: #ff6666; padding-top:15px; font-size: 13px;">ADit Virtual Ad Agency Copyright &copy; 2019.  Automata Associates. All rights reserved</p>
        <p><a href="#"><span class="fa fa-facebook mr-2"></span></a><a href="#"><span class="fa fa-instagram mr-2"></span></a><a href="#"><span class="fa fa-twitter"></span></a></p>
    </footer>
</div>
        
