@{
    ViewBag.Title = "ADit - Administration";
}




<div class="row">
    <div class="container-fluid">
        <nav>
            <ul class="mcd-menu">
                <li>
                    <a href="">
                        <strong>Branding</strong>
                    </a>
                    <ul>
                        <li><a href="~/Branding/Material">Branding Material List</a></li>


                        <li>
                            <a href="~/Branding/BrandingMaterialPrice">Setup Materials Price</a>

                        </li>
                        <li>
                            <a href="~/Administration/DesignElement">Branding Material Design Element List </a>

                        </li>

                        <li><a href="~/Administration/DesignElementPrice">Setup Design Element Price</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="">
                        <strong>Print Media</strong>

                    </a>
                    <ul>
                        <li><a href="~/Print/NewsPaper">Newspaper List</a></li>
                        <li>
                            <a href="~/Print/PrintCategory">Print Category List</a>
                            <a href="~/Print/PrintServiceColor">  Print ServiceColor List</a>
                          

                        </li>
                        <li><a href="~/Print/PrintServiceType">Print Service type list</a></li>
                        <li><a href="~/Print/PrintServiceTypePrice">Print Service type price list</a></li>
                        <li><a href="~/Print/PrintMediaType">Print Media Type list</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">

                        <strong>Online</strong>

                    </a>
                    <ul>
                        <li><a href="~/Online/OnlinePlatformList">Setup platform package</a></li>
                        <li>
                            <a href="~/Online/OnlinePurposeList">Setup platform purpose</a>

                        </li>
                        <li><a href="~/Online/OnlineExtraServiceList">Setup extra service</a></li>
                        <li><a href="~/Online/PlatformPackage">Setup platform package price</a></li>
                        <li><a href="~/Online/OnlineArtWorkPrice">Online ArtWork price</a></li>
                        <li><a href="~/Online/ExtraServicePrice">Setup extra service price</a></li>
                        <li><a href="~/Online/OnlineDurationList">Setup online duration</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <strong>Radio</strong>
                    </a>
                    <ul>
                        <li><a href="~/Radio/RadioStation">Radio Stations</a></li>
                        <li>
                            <a href="~/Radio/ScriptingPrice">Setup Scripting price</a>

                        </li>
                        <li><a href="~/Radio/ProductionPrice">Setup production price</a></li>
                    
                        <li><a href="~/Administration/RadioService">Setup radio service price</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <strong>TV</strong>
                    </a>
                    <ul>

                        <li>
                            <a href="~/Radio/ScriptingPrice">Setup Scripting price</a>

                        </li>
                        <li><a href="~/Radio/ProductionPrice">Setup production price</a></li>
                        <li><a href="~/Administration/MaterialTiming">Setup material type timing</a></li>
                        <li><a href="~/Tv/TvStations">Setup Tv station</a></li>
                        <li><a href="~/Tv/TvServicePriceList">Setup Tv services list price</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <strong>Apcon</strong>

                    </a>
                    <ul>
                        <li>
                            <a href="~/Administration/Apcon">Setup Approval type</a>

                        </li>
                        <li><a href="~/Administration/ApconPrice">Setup Approval type price</a></li>
                    </ul>
                </li>
                <li>
                    <a id="color" class="" href="~/Administration/Color">
                        <strong>Color</strong>
                    </a>
                </li>

                <li>
                    <a href="~/Administration/MaterialType">
                        <strong>Setup Material Type</strong>
                    </a>
                </li>
                <li>
                    <a href="~/Administration/DurationType">
                        <strong>Setup Duration Type</strong>
                    </a>
                </li>
                <li>
                    <a href="~/Administration/Timing">
                        <strong>Setup Timing</strong>
                    </a>
                </li>
                <li>
                    <a href="~/Administration/DesignElement">
                        <strong>Design Element Setup</strong>
                    </a>
                </li>
                <li>
                    <a href="~/Administration/TimeBelt">
                        <strong>Setup Timing Belts</strong>
                    </a>

                </li>
                <li>
                    <a href="~/Administration/Orders">
                        <strong>Orders</strong>
                    </a>
                </li>


                <li>
                    <a href="~/Administration/UserRegistration">
                        <strong>Users</strong>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

</div>



