@{
    ViewBag.Title = "AccessDenied";
}
<div class="columns">
    <h1 class="validation-summary-errors" style="color: red;">
        Access denied, please contact us with the message below
    </h1>
</div>
<div class="columns" style="margin-top: 20px;">
   You are not authorized to access that part of the system.
</div>
<div class="columns" style="margin-top: 20px;">
    @(this.ViewBag.ThePage)
</div>


