@model ADit.Interfaces.IBrandingView
<table>
    <tr>
        <th>
            Amount
        </th>

    </tr>

    <tr>
        <td>
            @Html.DisplayFor(m => m.BrandingMaterialAmount , new { @class = "form-control" })
        </td>
    </tr>

</table>