<div>
    <div class="card mt-3 card-body card-text col-md-6 offset-md-3 col-12">
        <h3 class="main-title-w3pvt text-center">How It Works</h3>
        <div class="card-body">

            <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="card-text">


                We work completely virtually. Everything we do is online. We’ve created a user-friendly interface that not just lets you choose or discuss what you want but also allows you track the progress of your job from start to finish. So, need a quick fix to your advertising need? Here’s how to get started
                <br />
                <ol>
                    <li>
                        Create an account. This gives you access to your customized user interface where all the magic happens.
                    </li>
                    <li>
                        Select the service option/ advertising package of your choice and click ‘Add to Cart’
                    </li>
                    <li>
                        Proceed to provide a brief description of your expectations and click ‘submit’. If you feel the need to make a change, you can re-edit by clicking on the ‘Edit’ button before check out.

                    </li>
                    <li>
                        You’ll receive a confirmation of your request via mail as well as revert time after which you can proceed to log out. Once your project is completed it will be sent to your mail address.

                    </li>
                    <li>
                        To send feedback on your delivered project, log in to your user interface and attach file. Entre a brief description of the changes you want effected and we’ll get back to you in the shortest time.

                    </li>
                </ol>


            </p>

            <form method="get" action="/Account/Login/">
                <button style="color: white; background-color: orangered; width: auto" class="form-control mx-auto btn-sm" type="submit">Let’s start your first project today!</button>
            </form>


        </div>

    </div>
</div>
