
<div class="card mt-3 card-body card-text col-md-6 offset-md-3 col-12">
    <h3 class="main-title-w3pvt text-center">Our Story</h3>
    <h5 class="text-center"style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">We see opportunities in challenges</h5>
    <div class="card-body">

        <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="card-text">


            <h3 class="main-title-w3pvt">The Challenge</h3>
            While a big business can afford to take a 10-minute walk in the park, a small business may not. It’s often too busy trying to get the right visibility, attention and share of the market while also juggling core business operations. Small businesses most times rely on self-help marketing on their own with little or no expertise. Also, for small businesses with limited resources, getting the required funds for advertising is quite a dilemma especially when you need to invest in other aspects of your business.


            <p class="pt-md-5">
                <h3 class="main-title-w3pvt">The Opportunity</h3>
                Adit is an innovative idea birthed to help small businesses overcome their marketing challenges. We are a full service virtual Ad agency that seeks to enable small businesses and individuals gain visibility and differentiate themselves in a pretty saturated market. We work completely virtually, that means we are accessible from anywhere. We’re able to respond to you faster and better. So, whether you’re a big firm in need of a 360 marketing campaign, a small business in need of cost effective advertising or just an individual in need of a unique logo design for your new fast-food business we’re hands on to deliver you top notch logo design, graphic design, website design, branding, radio/TV Ad, press Ad, digital campaign, brochures and catalogue, content creation and more. Whatever your advertising need, we here to give it a quick fix.


            </p>


        </p>


    </div>

</div>