@model ADit.Interfaces.IRadioTransactionView
@{
    ViewBag.Title = "ADit - Add Radio Service";
}

@section PageTitle{
    Add Radio Service
}
<div class="jumbotron">
    <div class="columns" style="font-size: 12px; margin-left: 15px; width: 100%;">
        <div class="validation-summary-errors">
            @Html.ValidationSummary()
            @Model.ProcessingMessage
        </div>
    </div>
    @using (Html.BeginForm("AddRadio", "Service", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        
        <div class="columns" style="width: 100%; padding-top: 15px; padding-bottom: 5px;">
            <div class="column" style="margin-left: 195px;">
                <input class="grayButton" id="btnSubmit" name="submitButton" style="width: 80px;" disabled type="submit" value="Submit" />
            </div>
            <div class="column" style="margin-left: 15px;">
                <input id="btnCancel" class="blueButton" name="submitButton" style="width: 80px;"
                       type="submit" value="Cancel" />
            </div>
            <div class="column" style="font-size: 9px; font-weight: bold; font-style: italic; padding-left: 5px; padding-top: 2px;">
                You must enter all information above correctly to enable submission.
            </div>
        </div>
    }
</div>

@section JavaScriptsIncludes
{
    <script src="/Scripts/jquery-ui-1.12.1.js" type="text/javascript"></script>
}


@section JavaScriptsExecution
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#btnCancel').click(function () {
                window.location.href = '/Administration/CompanyList';
                return false;
            });

            $('#companyName').change(function () {
                $('#cacRegistrationNumber').trigger("propertychange");
            });

            $('#companyAddressLine1').change(function () {
                $('#cacRegistrationNumber').trigger("propertychange");
            });

            $('#companyCity').change(function () {
                $('#cacRegistrationNumber').trigger("propertychange");
            });

            $('#companyState').change(function () {
                $('#cacRegistrationNumber').trigger("propertychange");
            });

            $('#companyCountry').change(function () {
                $('#cacRegistrationNumber').trigger("propertychange");
            });

            $('#companyEmail').change(function () {
                $('#cacRegistrationNumber').trigger("propertychange");
            });

            $('#companyPhone').change(function () {
                $('#cacRegistrationNumber').trigger("propertychange");
            });

            $('#companyWebsite').change(function () {
                $('#cacRegistrationNumber').trigger("propertychange");
            });

            $('#cacRegistrationNumber').bind('input propertychange', function () {
                $('#btnSubmit').prop("class", "grayButton");
                $('#btnSubmit').prop("disabled", true);

                var cacOkay = $('#cacRegistrationNumber').val().length > 0;
                var companyNameOkay = $('#companyName').val().length > 0;
                var emailOkay = validateEmail($('#companyEmail').val().trim());
                var phoneNumberOkay = $('#companyPhone').val().length > 9;
                var companyNameOkay = $('#companyName').val().length > 0;
                var addressOkay = $('#companyAddressLine1').val().length > 0;
                var cityOkay = $('#companyCity').val().length > 0;
                var stateOkay = $('#companyState').val().length > 0;
                var countryOkay = $('#companyCountry').val().length > 0;
                var websiteOkay = $('#companyWebsite').val().length > 0;

                if ((companyNameOkay) && (emailOkay) && (phoneNumberOkay) && (companyNameOkay) && (addressOkay) && (cityOkay)
                    && (stateOkay) && (countryOkay) && (websiteOkay) && (cacOkay)) {
                    $('#btnSubmit').prop("class", "blueButton");
                    $('#btnSubmit').prop("disabled", false);
                    $('#email').val($('#email').val().trim());
                }
            });

            function validateEmail(sEmail) {
                var filter = /^[\w\-\.\+]+\@@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;
                return filter.test(sEmail);
            }
        });
    </script>
}
@section Stylesheets{
    <link href="/Content/themes/base/all.css" rel="stylesheet" type="text/css" />
}