
@{
    ViewBag.Title = "ADit - Services";
}
<div style="background-image:url(../../Content/Images/image-1.png);  height: 750px; background-repeat:no-repeat">

    <div class="container pt-4">
      

      
        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="~/Content/Images/israel-palacio-459693-unsplash.jpg" alt="">
                   
                    <h4 class="pt-2 card-title">Radio Advert</h4>
                    <div class="mx-auto">
                        <a href="Radio/Radio" class="btn btn-danger  btn-sm">Buy Radio Advert!</a>
                    </div>

                 

                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="~/Content/Images/tv-627876_960_720.jpg" alt="">
                  
                    <h4 class="pt-2 card-title">Tv Advert</h4>
                    <div class="mx-auto">
                        <a href="Tv/Index" class="btn btn-danger">Buy Tv Advert!</a>
                    </div>

                   

                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="~/Content/Images/burst-521042-unsplash.jpg" alt="">


                    <h4 class="pt-2 card-title">Online Advert</h4>
                    <div class="mx-auto">
                        <a href="Online/Index" class="btn btn-danger">Buy Online Advert!</a>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="~/Content/Images/rawpixel-455997-unsplash.jpg" alt="">
                
                    <h4 class="pt-2 card-title">Branding Advert</h4>
                    <div class="mx-auto">
                        <a href="Branding/Index" class="btn btn-danger">Buy Branding Advert!</a>
                    </div>

                </div>
            </div>


        </div>
        <center class="pt-0">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="~/Content/Images/newspaperad.jpg" alt="">
                   
                    <h4 class="pt-2 card-title">PrintMedia Advert</h4>
                    <div class="mx-auto">
                        <a href="Print/Index" class="btn btn-danger">Buy Print Media Advert!</a>
                    </div>
                </div>
            </div>
        </center>

        <!-- /.row -->

    </div>
</div>
