<?xml version="1.0"?>
<Environments>
   <Environment name="LocalDevelopment">
   <Item key="KeySvr" value="Localhost"/>
    <Item key="KeyUId" value="sa"/>
    <Item key="KeyPwd" value="automata01"  encrypted="false"/>
    <Item key="ContextType" value="ADit"  encrypted="false"/>
</Environment>
  <!-- <Environment name="LocalDevelopment">
    <Item key="ContextType" value="aditngco_adit_uat"  encrypted="false"/>
    <Item key="KeySvr" value="mi3-wsq3.a2hosting.com"/>
    <Item key="KeyUId" value="adit_01"/>
    <Item key="KeyPwd" value="%Automata01*"  encrypted="false"/>
  </Environment>-->
<Environment>
    <Item key="FileUploadPath" value="~/DocumentFolder/"/>
    <Item key="EmailKey" value="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" />
    <Item key="PayStackKey" value="sk_test_8d8ee16467e203041eb380366571f2ea7b5264e6" />
    <Item key="PayStackCallBack" value="http://uat.aditng.com/Order/TransactionCompleted?OrderNumber=" />
  </Environment>
  <Environment name="Development">
    <Item key="ContextType" value="aditngco_adit_dev"  encrypted="false"/>
    <Item key="KeySvr" value="mi3-wsq3.a2hosting.com"/>
    <Item key="KeyUId" value="adit_01"/>
    <Item key="KeyPwd" value="%Automata01*"  encrypted="false"/>
    <Item key="FileUploadPath" value="~/DocumentFolder/"/>
    <Item key="EmailKey" value="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" />
    <Item key="PayStackKey" value="sk_test_8d8ee16467e203041eb380366571f2ea7b5264e6" />
    <Item key="PayStackCallBack" value="http://dev.aditng.com/Order/TransactionCompleted?OrderNumber=" />
  </Environment>
  <Environment name="Uat">
    <Item key="ContextType" value="aditngco_adit_uat"  encrypted="false"/>
    <Item key="KeySvr" value="mi3-wsq3.a2hosting.com"/>
    <Item key="KeyUId" value="adit_01"/>
    <Item key="KeyPwd" value="%Automata01*"  encrypted="false"/>

    <Item key="FileUploadPath" value="~/DocumentFolder/"/>
     <Item key="EmailKey" value="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" />
    <Item key="PayStackKey" value="sk_test_8d8ee16467e203041eb380366571f2ea7b5264e6" />
    <Item key="PayStackCallBack" value="http://uat.aditng.com/Order/TransactionCompleted?OrderNumber=" />
  </Environment>
  <Environment name="Production">
    <Item key="ContextType" value="aditngco_adit"  encrypted="false"/>
    <Item key="KeySvr" value="mi3-wsq3.a2hosting.com"/>
    <Item key="KeyUId" value="adit_p01"/>
    <Item key="KeyPwd" value="%Automata01*"  encrypted="false"/>
    <Item key="FileUploadPath" value="~/DocumentFolder/"/>
    <Item key="EmailKey" value="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" />
    <Item key="PayStackKey" value="sk_test_8d8ee16467e203041eb380366571f2ea7b5264e6" />
    <Item key="PayStackCallBack" value="http://aditng.com/Order/TransactionCompleted?OrderNumber=" />
  </Environment>
  <Environment name="DR">
    <Item key="ContextType" value="aditngco_adit_dr"  encrypted="false"/>
    <Item key="KeySvr" value="mi3-wsq3.a2hosting.com"/>
    <Item key="KeyUId" value="adit_01"/>
    <Item key="KeyPwd" value="%Automata01*"  encrypted="false"/>
    <Item key="FileUploadPath" value="~/DocumentFolder/"/>
    <Item key="EmailKey" value="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" />
    <Item key="PayStackKey" value="sk_test_8d8ee16467e203041eb380366571f2ea7b5264e6" />
    <Item key="PayStackCallBack" value="http://dr.aditng.com/Order/TransactionCompleted?OrderNumber=" />
  </Environment>
</Environments>

