@model ADit.Interfaces.IEmailVerificationView
@{
    ViewBag.Title = "Forget Password";
}

<!--<h2>Register</h2>-->
<div class="mybgimage">
    <div><p></p></div>
    @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row no-gutters py-5">
                <div class="card col-md-4 m-auto">
                    <div class="card-header">
                        <h4>Forgot Password</h4>
                    </div>
                    <div class="card-body">
                        <p class="text-danger">@Html.ValidationSummary()</p>
                        <p class="text-danger"> @Model.ProcessingMessage</p>


                        <div class="">
                            <span style="color:red;">*</span> Email:
                            <input id="Email" class="form-control" name="Email" style="width: 250px;" type="text" maxlength="50" value="@Model.Email" />
                        </div>







                        <div class="col-12  pt-3">

                            <div class="pl-3 row">
                                <div class="row">
                                    <div>

                                        <input  type="submit" value="Send" class="enabledButton btn btn-primary" style="width:125px;" />

                                    </div>

                                    

                                </div>

                            </div>

                            <div>
                                Please enter your correct email.
                            </div>

                        </div>







                       
                    </div>


                </div>
            </div>
        </div>
    }

  
</div>

