@model ADit.Interfaces.IPrintMediaModelView
<table>
    <tr>
        <th>
            Amount
        </th>

    </tr>

    <tr>
        <td>
            @Html.DisplayFor(m => m.DesignElmentAmount, new { @class = "form-control" })
        </td>
    </tr>

</table>