@{
    ViewBag.Title = "ADit - Administration";
}


@*<div class="row">
        <div class="container-fluid col-3">
            <nav>
                <ul class="mcd-menu">
                    <li>
                        <a href="">
                            <strong>Branding</strong>
                        </a>
                        <ul>
                            <li><a href="#">Branding Materials</a></li>
                            <li>
                                <a href="#">Setup Materials Price</a>

                            </li>
                            <li><a href="#">Setup Design Element Price</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" class="act">
                            <strong>Print Media</strong>

                        </a>
                        <ul>
                            <li><a href="~/Print/NewsPaper">Newspaper List</a></li>
                            <li>
                                <a href="~/Print/PrintCategory">Print Category List</a>

                            </li>
                            <li><a href="~/Print/PrintServiceType">Print Service type list</a></li>
                            <li><a href="~/Print/PrintServiceTypePrice">Print Service type price list</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">

                            <strong>Online</strong>

                        </a>
                        <ul>
                            <li><a href="#">Setup platform package</a></li>
                            <li>
                                <a href="~/Online/OnlinePurposeList">Setup platform purpose</a>

                            </li>
                            <li><a href="~/Online/OnlineExtraServiceList">Setup extra service</a></li>
                            <li><a href="~/Online/PlatformPackage">Setup platform package price</a></li>
                            <li><a href="~/Online/ExtraServicePrice">Setup extra service price</a></li>
                            <li><a href="~/Online/OnlineDurationList">Setup online duration</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <strong>Radio</strong>
                        </a>
                        <ul>
                            <li><a href="~/Radio/RadioStation">Radio Stations</a></li>
                            <li>
                                <a href="~/Radio/ScriptingPrice">Setup Scripting price</a>

                            </li>
                            <li><a href="~/Radio/ProductionPrice">Setup production price</a></li>
                            <li><a href="~/Administration/MaterialTiming">Setup material type timing</a></li>
                            <li><a href="~/Administration/RadioService">Setup radio service price</a></li>
                            <li><a href="~/Radio/getAllRadioTranasction">Setup radio production</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <strong>TV</strong>
                        </a>
                        <ul>
                            <li>
                                <a href="~/Tv/ScriptingPrice">Setup Scripting price</a>

                            </li>
                            <li><a href="~/Tv/ProductionPrice">Setup production price</a></li>
                            <li><a href="~/Administration/MaterialTiming">Setup material type timing</a></li>
                            <li><a href="~/Tv/TvStations">Setup Tv station</a></li>
                            <li><a href="~/Tv/TvServicePriceList">Setup Tv services list price</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <strong>Apcon</strong>

                        </a>
                        <ul>
                            <li>
                                <a href="~/Administration/Apcon">Setup Approval type</a>

                            </li>
                            <li><a href="~/Administration/ApconPrice">Setup Approval type price</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <strong>Color</strong>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <strong>Setup Material Type</strong>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <strong>Setup Duration Type</strong>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <strong>Setup Timing</strong>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <strong>Design Element Setup</strong>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <strong>Setup Timing Belts</strong>
                        </a>
                        <ul>
                            <li><a href="#"><i class="fa fa-globe"></i>Mission</a></li>
                            <li>
                                <a href="#"><i class="fa fa-group"></i>Our Team</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-female"></i>Leyla Sparks</a></li>
                                    <li>
                                        <a href="#"><i class="fa fa-male"></i>Gleb Ismailov</a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-leaf"></i>About</a></li>
                                            <li><a href="#"><i class="fa fa-tasks"></i>Skills</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="fa fa-female"></i>Viktoria Gibbers</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-trophy"></i>Rewards</a></li>
                            <li><a href="#"><i class="fa fa-certificate"></i>Certificates</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <strong>Orders</strong>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <h2 class="col-9">Create View for corresponding action when creating the view or implementing the action</h2>

    </div>*@

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}