<form id="surveyForm" method="post" class="form-horizontal">
    <label class="control-label" for="field1">WHICH STATIONS WILL YOU WANT YOUR MATERIALS AIRED ON</label>

   

    <div class="form-group">

        
        
        <div class="row" id="field1">
            <div class="col-4 input">

                <select name="station[]" id="station1" class="form-control">
                    <option value="1">Channels</option>
                    <option value="2">LTV</option>
                    <option value="3">TVC</option>
                    <option value="4">African Magic</option>
                </select>
            </div>
            <div class="col-4">
                <select name="timing[]" id="timing1" class="form-control">
                    <option value="1">1 Mins</option>
                    <option value="2">2 Mins</option>
                    <option value="3">3 Mins</option>
                    <option value="4">4 Mins</option>
                </select>
            </div>

            <div class="col-3">
                <select name="duration[]" id="duration1" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
                                

        </div>

       

    </div>
    
  
    <!-- The option field template containing an option field and a Remove button -->
    <div class="form-group hide" id="optionTemplate">
        
        <div class="row" id="field1">
            <div class="col-4 input">

                <select name="station[]" id="station1" class="form-control">
                    <option value="1">Channels</option>
                    <option value="2">LTV</option>
                    <option value="3">TVC</option>
                    <option value="4">African Magic</option>
                </select>
            </div>
            <div class="col-4">
                <select name="timing[]" id="timing1" class="form-control">
                    <option value="1">1 Mins</option>
                    <option value="2">2 Mins</option>
                    <option value="3">3 Mins</option>
                    <option value="4">4 Mins</option>
                </select>
            </div>

            <div class="col-3">
                <select name="duration[]" id="duration1" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
                                
            <div class="col-1">
                <button type="button" class="btn btn-danger removeButton"><i class="fa fa-minus"></i></button>
            </div>
        </div>
       
    </div>
    
    
    <div class="row mt-2">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary addButton"><i class="fa fa-plus"></i> Add More Channels</button>

        </div>
    </div>
  
    


    <div class="form-group">
        <div class="col-sm-5 col-sm-offset-3">
            <button type="submit" class="btn btn-default">Validate</button>
        </div>
    </div>
</form>


@section JavaScriptsIncludes
{
    <script src="/Scripts/jquery-ui-1.12.1.js" type="text/javascript"></script>
}


@section JavaScriptsExecution
{

    <script>
        $(document).ready(function () {
            // The maximum number of options
            var MAX_OPTIONS = 5;

            $('#surveyForm')
               

                // Add button click handler
                .on('click', '.addButton', function () {
                    var $template = $('#optionTemplate'),
                        $clone = $template
                            .clone()
                            .removeClass('hide')
                            .removeAttr('id')
                            .insertBefore($template),
                        $option = $clone.find('[name="station[]"]');

                    // Add new field
                 //   $('#surveyForm').bootstrapValidator('addField', $option);
                })

                // Remove button click handler
                .on('click', '.removeButton', function () {
                    var $row = $(this).parents('.form-group'),
                        $option = $row.find('[name="station[]"]');

                    // Remove element containing the option
                    $row.remove();

                    // Remove field
                   // $('#surveyForm').bootstrapValidator('removeField', $option);
                })

                // Called after adding new field
                .on('added.field.bv', function (e, data) {
                    // data.field   --> The field name
                    // data.element --> The new field element
                    // data.options --> The new field options

                    if (data.field === 'station[]') {
                        if ($('#surveyForm').find(':visible[name="station[]"]').length >= MAX_OPTIONS) {
                            $('#surveyForm').find('.addButton').attr('disabled', 'disabled');
                        }
                    }
                })

                // Called after removing the field
                .on('removed.field.bv', function (e, data) {
                    if (data.field === 'station[]') {
                        if ($('#surveyForm').find(':visible[name="station[]"]').length < MAX_OPTIONS) {
                            $('#surveyForm').find('.addButton').removeAttr('disabled');
                        }
                    }
                });

        });

    </script>
}