<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ADitEntities" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7NRRJQ8;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities1" connectionString="metadata=res://*/DataAccess.ADit.csdl|res://*/DataAccess.ADit.ssdl|res://*/DataAccess.ADit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CKPJK1I;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities2" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities3" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities4" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities5" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities6" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities7" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities8" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities9" connectionString="metadata=res://*/DataAccess..csdl|res://*/DataAccess..ssdl|res://*/DataAccess..msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CKPJK1I;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities10" connectionString="metadata=res://*/DataAccess.ADit.csdl|res://*/DataAccess.ADit.ssdl|res://*/DataAccess.ADit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CKPJK1I;initial catalog=ADit;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities11" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7NRRJQ8;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities12" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7NRRJQ8;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities13" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7NRRJQ8;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities14" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7NRRJQ8;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities15" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7NRRJQ8;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities16" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities17" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities18" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities19" connectionString="metadata=res://*/DataAccess.OrderId.csdl|res://*/DataAccess.OrderId.ssdl|res://*/DataAccess.OrderId.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities20" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="masterEntities" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities21" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities22" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities23" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities24" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities25" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities26" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities27" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ALD8AO2;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities28" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ALD8AO2;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities29" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities30" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities31" connectionString="metadata=res://*/DataAccess.ADit.csdl|res://*/DataAccess.ADit.ssdl|res://*/DataAccess.ADit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ALD8AO2;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities32" connectionString="metadata=res://*/DataAccess.ADit.csdl|res://*/DataAccess.ADit.ssdl|res://*/DataAccess.ADit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ALD8AO2;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities33" connectionString="metadata=res://*/DataAccess.ADit.csdl|res://*/DataAccess.ADit.ssdl|res://*/DataAccess.ADit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ALD8AO2;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities34" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities35" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities36" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADitEntities37" connectionString="metadata=res://*/DataAccess.Adit.csdl|res://*/DataAccess.Adit.ssdl|res://*/DataAccess.Adit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9C8DQT;initial catalog=ADit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>